.container-logo {
    display: flex;
    font-size:1.5rem;
    margin-left: 40%;
    
  
  }
  .container-logo > p{
   
    line-height: 0px;
    font-weight: 500;
  
  }
  
  .first{
    color:#1a73e8;
  }
  .second{
    color:red;
  }
  .third{
    color:rgb(231, 201, 31);
  }
  .fourth{
    color:#1a73e8;
  
  }
  .fifth{
    color: green;
  }
  .sixth{
    color:orangered;
  }
  .container{
  width:350px;
  height:450px;
  border:lightgrey 1px solid;
  margin: auto;
  padding: 45px;
  margin-top: 200px;
  border-radius: 10px;
  justify-content: center;
  }
  .heading{
    display: flex;
    flex-direction: column;
  }
  .heading-label1{
    font-size: 26px;
    margin-left: 23%;
    margin-top: 2px;
  }
  .heading-label2{
    margin-top: 5px;
    margin-left: 106px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .bottom-sec{
    display: flex;
    flex-direction: column;
  }
  button{
    color: #fff;
    background: #1a73e8;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 270px;
  }
  
  @media only screen and (min-width: 360px) and (max-width: 800px) {
    .container{
      height: 100vh;
      width: 100vw;
      border: none;
      padding: 5px;
      margin-top: 20px;
    }
    .bottom-sec textfield{
      margin-right: 10px;
      width: 25vw;
    }
  
  } 